<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\CoreApplication\packages.config" />
  <repository path="..\FooterModule\packages.config" />
  <repository path="..\KioskoServicesModule\packages.config" />
  <repository path="..\MainControlsModule\packages.config" />
  <repository path="..\PubliPuntoEstacion.Library\packages.config" />
  <repository path="..\PubliPuntoEstacion\packages.config" />
</repositories>